.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Google-logo {
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Button-group {
  margin-top: 20px;
}

.Button-group button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #dfe1e5;
  border-radius: 4px;
  background-color: #f8f9fa;
  box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
}

.Button-group button:hover {
  background-color: #e8e9ea;
}

.SearchSection {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
