/* filepath: /my-next-app/styles/globals.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.navbar-notes,
.navbar-add {
  border: 3px solid #000;  /* Dark boundary */
  border-radius: 50px;     /* Pill shape */
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;         /* Default button font size */
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
}

.navbar-add {
  font-size: 20px;         /* Bigger plus icon */
}

.navbar-notes:hover,
.navbar-add:hover {
  background-color: #e8e9ea;
}

.navbar-link {
  text-decoration: none;
  color: inherit;
}

.SearchSection {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-logo {
  width: 200px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.search-input {
  border: 3px solid #000;   /* Dark boundary */
  border-radius: 50px;      /* Pill shape */
  background-color: #fff;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
}

.search-button {
  border: 3px solid #000;   /* Dark boundary */
  border-radius: 50px;      /* Pill shape */
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
}

.search-button:hover {
  background-color: #e8e9ea;
}

.create-note-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar-title {
  border: 3px solid #000;      /* Dark boundary */
  border-radius: 50px;         /* Pill shape */
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  width: 50%;
}

.note-body {
  flex: 1;
  margin: 20px;
  border: 3px solid #000;      /* Dark boundary */
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
  resize: none;
  outline: none;
}